% rebase('base.html', title='Produtos Cadastrados')
<div class="row">
    <div class="col-md-12">
        <table id="mytable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Cod.</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                % if sep:
                  % for m in sep:
                    <tr>
                        <td>
                            <a class="btn btn-default update" href="">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a class="btn btn-default detele" href="/cadastrar_erros/delete/{{m.id}}">
                              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td>{{ m.id }}</td>
                        <td>{{ m.nome.title() }}</td>
                    </tr>
                  % end
                % else:
                <tr>
                    <td colspan="5">Nenhuma Marca cadastrada ainda.</td>
                </tr>
                % end
            </tbody>
        </table>
    </div>
</div>
