% rebase('base.html', title='Tipos de Tarefas')
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
          <h1>Cadastrado das tarefas.</h1>
        </div>
    </div>
    <div class="col-md-6">
      % if status:
        <div id='messages' class="alert {{ status['cssClass'] }}" role="alert">{{ !status['message'] }}</div>
      % end
        <form action="/cadastrar_tarefas" method="post" id="tarefas-form">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                    <label for="id_erro">Id</label>
                    <input type="text" class="form-control" name="id" id="id_tarefa" placeholder="id" readonly="">
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="descricao_erro">Descrição</label>
                <input type="text" class="form-control" name="descricao" id="descricao_tarefa" placeholder="Digite a descricão da tarefa...">
            </div>
            <button type="submit" class="btn btn-default" id="form-button">Cadastrar</button>
        </form>
    </div>
    <div class="col-md-6">
        <table id="mytable" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Cod.</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                % if tarefas:
                % for m in tarefas:
                <tr>
                    <td>
                        <a class="btn btn-default update_tarefa" href="">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default detele" href="/exibir_tarefas/delete/{{m.id_tarefa}}">
                            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ m.id_tarefa }}</td>
                    <td>{{ m.descricao.title() }}</td>
                </tr>
                % end
                % else:
                <tr>
                    <td colspan="5">Nenhuma Tarefa cadastrada ainda.</td>
                </tr>
                % end
            </tbody>
        </table>
    </div>
</div>
